body {
    margin: 60px auto;
    width: 60%;
}
h1{

    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif', monospace;
    text-align: center;
}
p{text-align: center;}
ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    height: 46px;
    padding: 0;
    overflow:visible;
    background-color: #999999;
}
li {
    float: left;
}

canvas {
    position:relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 50px;
    border: black solid 10px;
}
.dropdown-content {
    z-index: 5;
    display: none;
    position: fixed;
    background-color: #999999;
    min-width: 180px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: black;
}
.show{display: block;}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
